@page "/grades/{id:int}"
@using SMS.Models.DTOs.Grades
@attribute [Authorize(Roles = "Admin,Support,Registrar")]

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Size="Size.Medium" Indeterminate="true"/>
    </div>
} else if (_gradeDetails != null)
{
    <MudRTLProvider RightToLeft="true">
        <MudText Typo="Typo.h4">@_gradeDetails.Name</MudText>
    </MudRTLProvider>
}

@code {
    [Parameter] 
    public int Id { get; set; }

    private GradeDetailsDto? _gradeDetails;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var res = await ApiClient.GetFromJsonAsync<GradesResponseDto>($"/api/grades/{Id}");

        if (res is { Success: true })
        {
            _gradeDetails = res.Grade;
        }

        _isLoading = false;
    }

}

@* TODO: Complete details page *@