@page "/users/reset/{id:int}"
@attribute [Authorize(Roles = "Admin")]
@using SMS.Models.DTOs.Institutions
@using SMS.Models.DTOs.Users
@using SMS.Models.Entities

<MudRTLProvider RightToLeft="true">
    <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Dark" Href="/users"/>
    <div class="d-flex justify-content-center align-items-center">
        <EditForm Model="_model" OnSubmit="@HandleAddUser" FormName="addUserForm">
            <MudCard Style="width: 500px" Class="p-4">
                <MudCardHeader>
                    <MudText Typo="Typo.h4">تعيين كلمة المرور</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="كلمة المرور الحديدة" @bind-Value="_model.NewPassword" For="@(() => _model.NewPassword)"
                                  InputType="InputType.Password" Class="mb-3"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Disabled="_isLoading" Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="ms-auto">
                        @if (_isLoading)
                        {
                            <MudProgressCircular Class="ms-1n" Size="Size.Small" Indeterminate="true"
                                                 Color="Color.Inherit"/>
                        }
                        <MudText>حفظ</MudText>
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</MudRTLProvider>

@code
{
    [Parameter]
    public int Id { get; set; }
    private ResetPasswordDto _model = new();
    private List<InstitutionDto> _institutions = new();
    private bool _isLoading = false;

    private async Task HandleAddUser()
    {
        _isLoading = true;

        var res = await ApiClient.PutAsync<UsersResponseDto,
            ResetPasswordDto>($"api/users/{Id}/reset", _model);

        if (res is { Success: true })
        {
            Snackbar.Add(res.Message!, Severity.Info);
            _isLoading = false;
            NavManager.NavigateTo("/users");
        }
        else
        {
            Snackbar.Add(res?.Message!, Severity.Error);
        }

        _isLoading = false;
    }
}
